<form action="/settings/" method="post">
  <div class="container">
    <div class="item">Enable HTTP Errors</div>
    <input class="item checkbox" type="checkbox" name="enable_http_errors" {{#if enable_http_errors}}checked{{/if}}>
    <div class="item">HTTP Error Odds (decimal)</div>
    <input class="item input-text" type="text" name="http_error_odds" value="{{http_error_odds}}"/>
    <div class="item">Enable Blank 200 Response</div>
    <input class="item checkbox" type="checkbox" name="enable_blank_200_response" {{#if enable_blank_200_response}}checked{{/if}}/>
    <div class="item">Enable Delays</div>
    <input class="item checkbox" type="checkbox" name="enable_delays" {{#if enable_delays}}checked{{/if}}/>
    <div class="item">Mobile Stock Missing New</div>
    <input class="item checkbox" type="checkbox" name="mobile_stock_missing_new" {{#if mobile_stock_missing_new}}checked{{/if}}/>
    <div class="item">Broken JSON Odds (decimal)</div>
    <input class="item input-text" type="text" name="broken_json_odds" value="{{broken_json_odds}}"/>
    <div class="item">Item In Stock?</div>
    <select name="item_in_stock">
        <option value="yes" {{#equal item_in_stock 'yes'}}selected{{/equal}}>Yes</option>
        <option value="no" {{#equal item_in_stock 'no'}}selected{{/equal}}>No</option>
        <option value="maybe" {{#equal item_in_stock 'maybe'}}selected{{/equal}}>Maybe?</option>
    </select>
    <div class="item">Out of Stock Odds (decimal)</div>
    <input class="item input-text" type="text" name="out_of_stock_odds" value="{{out_of_stock_odds}}"/>
    <div class="item">Add to Cart Max Delay (milliseconds)</div>
    <input class="item input-text" type="text" name="add_to_cart_max_delay" value="{{add_to_cart_max_delay}}"/>
    {{!-- <div class="item">Ignore Drop Week</div>
    <input class="item checkbox" type="checkbox" name="ignore_drop_week" {{#if ignore_drop_week}}checked{{/if}}/> --}}
    <div class="item">Target Drop Week</div>
    <select name="target_drop_week">
        {{#selectHelper target_drop_week}}
            {{#each drop_weeks}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        {{/selectHelper}}
    </select>
    {{!-- <input class="item input-text" type="text" name="target_drop_week" value="{{target_drop_week}}"/> --}}
    <div class="item">Enable Target Drop Week</div>
    <input class="item checkbox" type="checkbox" name="use_target_drop_week" {{#if use_target_drop_week}}checked{{/if}}/>
    <div class="item">Target Drop Date (of form 03/22/2018)</div>
    <input class="item input-text" type="text" name="target_drop_date" value="{{target_drop_date}}"/>
    <div class="item">Enable Target Drop Date</div>
    <input class="item checkbox" type="checkbox" name="use_target_drop_date" {{#if use_target_drop_date}}checked{{/if}}/>
    <input class="item button" type="submit" value="SAVE"/>
  </div>
</form>
<style>
    .container {
      display: grid;
      grid-gap: 20px;
      {{!-- border: 10px solid var(--yellow); --}}
      grid-template-columns: 30rem 15rem;
    }
</style>